src/main/app/cloudhubconnectivitytest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/current/mule-tcp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="/connectivity" doc:name="HTTP Listener Configuration"/>
    <tcp:connector name="TCP" validateConnections="false" receiveBacklog="0" clientSoTimeout="10000" serverSoTimeout="10000" socketSoLinger="0" doc:name="TCP">
		<tcp:eof-protocol payloadOnly="true" rethrowExceptionOnRead="true"/>
    </tcp:connector>
    <flow name="cloudhubconnectivitytestFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/test" doc:name="HTTP"/>
        <json:json-to-object-transformer doc:name="JSON to Object" returnClass="java.lang.Object"/>
        <splitter enableCorrelation="ALWAYS" expression="#[payload.connections]" doc:name="Splitter" tracking:enable-default-events="true"/>
        <logger message="Testing Connection: #[payload.name] with Host #[payload.hostname], IP #[payload.ip], and Port #[payload.port]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="connection" value="#[payload]" doc:name="Variable"/>
        <transactional action="ALWAYS_BEGIN" doc:name="Transactional">
            <tcp:outbound-endpoint exchange-pattern="request-response" host="#[payload.ip]" port="#[payload.port]" connector-ref="TCP" responseTimeout="10000" doc:name="TCP"/>
            <logger message="Connection #[flowVars.connection.name] succeeded." level="INFO" doc:name="Logger"/>
            <set-payload value="#[['name': flowVars.connection.name, 'status':'success']]" doc:name="Set Payload"/>
            <catch-exception-strategy doc:name="Catch Exception Strategy">
                <logger message="Connection #[flowVars.connection.name] failed." level="ERROR" doc:name="Logger"/>
                <set-payload value="#[['name': flowVars.connection.name, 'status':'failed']]" doc:name="Set Payload"/>
            </catch-exception-strategy>
        </transactional>
        <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        <json:object-to-json-transformer mimeType="application/json" doc:name="Object to JSON"/>
    </flow>
</mule>
